@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --swiper-navigation-size: 30px;
  --text-color: #333;
  --black-color: #000;
  --grey-color: #969696;
  --gray-color: #666;
  --light-color: #ececec;
  --white-color: #fff;
  --purple-color: #9d5cd0;
  --light-purple-color: #d1a9f0;
  --dark-purple-color: #7943a4;
  --medium-purple-color: #c283f3;
  --unknown-color: #b7b7b7;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  outline: none;
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1;
  background-color: var(--white-color);
}

button, input, optgroup, select, textarea {
  font-family: "OpenSans", sans-serif;
  line-height: 1;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input, button {
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 50px 0 50px;
  max-width: 1700px;
}

.title {
  font-size: 48px;
  font-weight: 400;
}

.heading {
  font-size: 24px;
  font-weight: 600;
}

/* header */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.top-menu {
  background-color: var(--black-color);
}

.top-menu__container {
  display: flex;
  align-items: center;
  padding: 29px 37px 29px 50px;
}

.header__logo {
  margin-right: 169px;
}

.logo__img {
  width: 173px;
  height: 40px;
  background-repeat: no-repeat;
}

.header__nav {
  display: flex;
}

.nav__list {
  display: flex;
  padding: 5px;
  margin-right: 267px;
}

.nav__item {
  font-size: 18px;
  font-weight: 600;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

.nav__link {
  padding: 5px;
  vertical-align: center;
  color: var(--white-color);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.nav__link:focus {
  color: var(--white-color);
  background-color:  var(--dark-purple-color);
}

.nav__link:hover {
  color: var(--medium-purple-color);
  background-color: transparent;
}

.nav__link:active {
  color: var(--dark-purple-color);
  background-color: transparent;
}

.private__enter {
  padding: 5px;
  font-size: 18px;
  color: var(--white-color);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.private__text {
  padding: 4px;
}

.private__enter .private__arrow-path {
  margin-right: 3px;
  transition: fill .2s ease-in-out;
}

.private__enter:focus {
  color: var(--white-color);
  background-color: var(--dark-purple-color);
}

.private__enter:focus .private__arrow-path {
  fill: var(--white-color);
}

.private__enter:hover {
  color: var(--medium-purple-color);
  background-color: transparent;
}

.private__enter:hover .private__arrow-path {
  fill: var(--medium-purple-color);
}

.private__enter:active {
  color: var(--purple-color);
  background-color: transparent;
}

.private__enter:active .private__arrow-path {
  fill: var(--purple-color);
}

.sub-menu {
  background: rgba(0, 0, 0, 0.4);
}

.sub-menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 49px 16px 37px;
  z-index: 1000;
}

.sub-menu__list {
  display: flex;
  padding: 5px;
}

.list__item:not(:last-child) {
  margin-right: 89px;
}

.list-item__btn {
  position: relative;
  display: flex;
  border: none;
  padding: 5px 12px 5px 5px;
  font-size: 18px;
  color: var(--white-color);
  background-color: transparent;
  cursor: pointer;
  transition: color ease-out .2s, background-color .2s ease-in-out;
}

.list-item__btn:focus {
  color: var(--white-color);
  background-color: var(--dark-purple-color);
}

.list-item__btn:hover {
  color: var(--medium-purple-color);
  background-color: transparent;
}

.list-item__btn:active {
  color: var(--dark-purple-color);
  background-color: transparent;
}

.list-item__btn::after {
  position: relative;
  top: 5px;;
  left: 6px;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  transform: rotate(315deg);
  transition: border-color ease-out .2s, transform ease-out .2s;
}

.list-item__btn:hover::after{
  border-color: var(--medium-purple-color);
}

.list-item__btn:active::after{
  top: 10px;
  border-color: var(--dark-purple-color);
  transform: rotate(135deg);
}

.list-item__btn--active {
  position: relative;
  display: flex;
  border: none;
  font-size: 18px;
  color: var(--dark-purple-color);
  background-color: transparent;
  cursor: pointer;
}

.list-item__btn--active::after {
  position: relative;
  top: 10px;;
  left: 6px;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-left: 1px solid var(--dark-purple-color);
  border-bottom: 1px solid var(--dark-purple-color);
  transform: rotate(135deg);
}

.list-item__btn--active:focus::after {
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.list-item__btn--active:hover::after {
  border-left: 1px solid var(--medium-purple-color);
  border-bottom: 1px solid var(--medium-purple-color);
}

.list-item__btn--active:active::after {
  border-left: 1px solid var(--dark-purple-color);
  border-bottom: 1px solid var(--dark-purple-color);
}

.list-dropdown {
  position: absolute;
  top: 170px;
  display: none;
  padding: 0px 40px 0px 40px;
  width: 300px;
  max-height: 300px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

.list-dropdown--active {
  display: block;
}

.list-dropdown__item {
  position: relative;
  width: 220px;
  height: 40px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
}

.list-dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.list-dropdown__link {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 12px;
  border: 2px solid transparent;
  width: 220px;
  height: 40px;
  color: var(--white-color);
  transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}

.list-dropdown__link:hover {
  border-color: var(--purple-color);
}

.list-dropdown__link:focus {
  border-color: var(--purple-color);
}

.list-dropdown__link:active {
  border-color: var(--light-purple-color);
  background-color: rgba(194, 131, 243, 0.4)
}

.simplebar-wrapper {
  max-height: 220px;
}

.simplebar-scrollbar {
  width: 2px;
  max-height: 40px;
  cursor: pointer;
  background-color: var(--white-color);
}

.simplebar-visible {
  max-height: 40px;
}

.simplebar-scrollbar:hover {
  background-color: var(--purple-color);
}

.simplebar-track.simplebar-vertical {
  margin-right: 19px;
  width: 2px;
  background-color: black;
}

.search {
  display: flex;
  padding-top: 2px;
}

.search__btn {
  padding-top: 7px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: outline .2s ease-in-out;
}

.search__input {
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
  border-bottom: 1px solid var(--white-color);
  width: 219px;
  color: var(--dark-purple-color);
  background-color: transparent;
  transition: border-bottom .2s ease-in-out;
}

.search__input:focus {
  border-bottom: 1px solid var(--dark-purple-color);
}

.search__input:hover {
  border-bottom: 1px solid var(--medium-purple-color);
}

.search__input:active {
  border-bottom: 1px solid var(--dark-purple-color);
}

.search__input::placeholder {
  font-size: 18px;
  color: var(--white-color);
  transition: color .2s ease-in-out;
}

.search__input:focus::placeholder {
  color: transparent;
}

/* hero */

.hero {
  padding: 0;
  padding-bottom: 40px;
  margin-top: -170px;
  width: 100%;
  height: 800px;
  z-index: 1;
}

.animation {
  position: relative;
  top: -800px;
  overflow: hidden;
  margin: auto;
  height: 800px;
}

.animation__item {
  position: absolute;
  left: 0;
  width: 100%;
}

.animation__item--1 {
  animation: item-1 300s ease-in-out infinite alternate;
}

.animation__item--2 {
  animation: item-2 300s ease-in-out infinite alternate;
}

.animation__item--3 {
  animation: item-3 300s ease-in-out infinite alternate;
}

.animation__img {
  width: 100%;
  height: 798px;
  object-fit: cover;
  animation: zoom 60s normal infinite forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1.25);
  }
}

@keyframes item-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  25.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes item-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  25.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes item-3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  75.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.hero__container {
  position: relative;
  padding: 241px 50px 122px 49px;
  z-index: 2;
}

.hero__title {
  margin-bottom: 19px;
  width: 100%;
  max-width: 600px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: var(--white-color);
}

.hero__descr {
  margin-bottom: 92px;
  width: 100%;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.hero__btn {
  position: relative;
  padding: 20px 32px 20px 32px;
  border-radius: 100px;
  border: 3px solid var(--purple-color);
  width: 314px;
  height: 70px;
  color: var(--white-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--purple-color);
  cursor: pointer;
  transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}

.hero__btn::after {
  position: absolute;
  right: -8px;
  top: -8px;
  content: "";
  border-radius: 100px;
  border: 2px solid transparent;
  width: 324px;
  height: 80px;
  background-color: transparent;
  cursor: pointer;
  transition: border-color .2s ease-in-out;
  z-index: 1000;
}

.hero__btn:focus::after {
  border-color: var(--purple-color);
}

.hero__btn:hover {
  border-color: var(--light-purple-color);
}

.hero__btn:hover::after {
  border-color: transparent;
}

.hero__btn:active {
  border-color: var(--light-purple-color);
  background-color: var(--dark-purple-color);
}

.hero__btn:active::after {
  border-color: transparent;
}

/* about */

.about {
  padding-top: 89px;
  padding-bottom: 71px;
}

.about__container {
  padding: 0px 56px 0px 50px
}

.about__title {
  margin-bottom: 24px;
}

.about__descr {
  width: 68%;
  line-height: 32px;
}

/* gallery */

.gallery {
  background-image: url("../img/gallery_img/gallery__container.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery__container {
  display: flex;
  padding: 88px 53px 70px 50px;
  height: 995px;
}

.gallery__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.gallery__title {
  margin-bottom: 32px;
  color: var(--white-color);
}

.gallery__filter-descr {
  margin-bottom: 17px;
  font-weight: 600;
  color: var(--white-color);
}

.gallery__filter {
  display: flex;
  flex-direction: column;
}

.choices {
  height: 40px;
  width: 400px;
  border: 1px solid var(--white-color);
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

.choices__inner {
  height: 40px;
  width: 400px;
  padding: 11px 12px 11px 14px;
  background: transparent;
  color: var(--white-color);
}

.choices__list--dropdown {
  display: none;
  margin-left: -1px;
  border: 1px solid #999999;
  border-top: 1px solid transparent;
  border-radius: 6px;
  width: 400px;
  z-index: 100;
}

.choices__list--dropdown .choices__item {
  padding: 12px 0px 13px 20px;
  border-bottom: 1px solid #999999;
  color: #999999;
}

.choices__item {
  box-sizing: border-box;
}

.choices__list--dropdown .choices__item:last-child {
  border-bottom: none
}

.choices__list--dropdown .choices__item[data-value=Автор] {
  display: none;
}

.choices__list--single::after {
  position: relative;
  bottom: 10px;;
  left: 360px;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  transform: rotate(315deg);
}

.is-active {
  display: block;
}

.gallery__descr {
  color: var(--white-color);
  line-height: 32px;
  font-weight: 600;
}

.gallery__private-link {
  color: var(--medium-purple-color);
  line-height: 32px;
  font-weight: 600;
}

.gallery__right {
  position: relative;
  height: 846px;
}

.gallery__swiper {
  padding-top: 11px;
  max-width: 1150px;
}

.swip__wrapper {
  padding-top: 24px;
  height: 750px;
}

.swip__slide {
  display: block;
  height: 350px;
  width: 350px;
  cursor: pointer;
  transition: outline .3s ease-in-out;
}

.swip__slide::after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  height: 350px;
  width: 350px;
  content: "";
  background-image: url(../img/gallery_img/swip__slide.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 300px;
  opacity: 0;
  transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
}

.swip__slide:focus::after {
  outline: 3px solid var(--dark-purple-color);
}

.swip__slide:hover::after {
  opacity: 1;
}

.swip__slide:active::after {
  background-color: rgba(194, 131, 243, 0.4);
}

.swip__pagination-btn {
  display: flex;
  padding: 5px 2px;
}

.swip__pagination {
  position: static;
  text-align: left;
  padding: 8px 19px 8px 19px;
  width: auto;
  color: var(--white-color);
  background-color: transparent;
}

.swiper-button-next, .swiper-button-prev {
  color: transparent;
}

.swip__btn-prev, .swip__btn-next {
  position: static;
  right: 0;
  display: flex;
  text-align: left;
  padding: 5px;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 2px solid var(--gray-color);
  border-radius: 50%;
  background-color: var(--gray-color);
  transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}

.swip__btn-next {
  left: 103px;
}

.swip__btn-prev:focus, .swip__btn-next:focus {
  border-color: var(--black-color);
}

.swip__btn-prev:hover, .swip__btn-next:hover {
  border-color: var(--purple-color);
  background-color: var(--purple-color);
}

.swip__btn-prev:active, .swip__btn-next:active {
  border-color: var(--black-color);
  background-color: var(--dark-purple-color);
}

.swip__btn-prev::after, .swip__btn-next::after {
  top: 10px;;
  left: 11px;
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  transform: rotate(45deg);
  transition: border .2s ease-in-out;
}

.swip__btn-next::after {
  left: 9px;
  transform: rotate(225deg);
}

/* catalog */

.catalog {
  padding-top: 80px;
  padding-bottom: 50px;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 0px 48px;
}

.catalog__head {
  display: flex;
  margin-bottom: 12px;
}

.catalog__title {
  padding-top: 9px;
  margin-right: 31px;
}

.tabs-country {
  display: flex;
  justify-content: space-between;
  width: 28.3%;
}

.tabs-country__btn {
  width: 68px;
  height: 68px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: filter .3s ease-in-out;
}

.tabs-country__btn svg {
  border-radius: 50%;
  transition: border .3s ease-in-out;
}

.tabs-country__btn:focus,
.tabs-country__btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.tabs-country__btn:active {
  filter: none;
}

.tabs-country__btn:active svg {
  border: 2px solid var(--dark-purple-color);
}

.tabs-country__btn-active {
  border: 2px solid var(--dark-purple-color);
  transition: filter .3s ease-in-out, border .3s ease-in-out;
}

.tabs-country__btn-active:focus,
.tabs-country__btn-active:hover {
  filter: none;
}

.tabs-country__btn-active:active {
  border: none;
}

.catalog__descr {
  padding-left: 2px;
  margin-bottom: 39px;
  width: 67.2%;
  line-height: 32px;
}

.tabs__item {
  display: none;
  justify-content: space-between;
}

.tabs__item-active {
  display: flex;
}

.tabs__left {
  padding-left: 2px;
  width: 47%;
}

.artist__item {
  display: none;
}

.artist__item-active {
  display: flex;
  flex-direction: column;
}

.artist__picture {
  margin-bottom: 33px;
  width: 100%;
  height: 100%;
}

.artist__name {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}

.artist__years {
  padding-left: 1px;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--grey-color);
}

.artist__biography {
  padding-left: 1px;
  line-height: 32px;
  margin-bottom: 15px;
}

.tabs__right {
  width: 50%;
  background-color: var(--white-color);
}

.tabs-right__accordion {
  border-collapse: collapse;
}

.accordion__btn {
  width: 100%;
  cursor: pointer;
}

.accordion__item {
  position: relative;
  display: flex;
  padding: 46px 0 43px 0;
  border-top: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  border-radius: 0px;
  border-left: none;
  border-right: none;
  width: 100%;
  transition: color .3s ease-in-out, border-color .3s ease-in-out;
}

.accordion__heading {
  font-size: 24px;
  font-weight: 600;
  background-color: transparent;
}

.accordion__item:focus {
  color: var(--white-color);
}

.accordion__item:focus .accordion__heading {
  background-color: var(--dark-purple-color);
}

.accordion__item:focus .ui-accordion-header-icon {
  border-color: var(--light-purple-color);
  background-color: var(--light-purple-color);
}

.accordion__item:hover {
  border-color: var(--purple-color);
  color: var(--purple-color);
}

.accordion__item:hover .accordion__heading {
  background-color: transparent;
}

.accordion__item:hover .ui-accordion-header-icon {
  border-color: var(--light-purple-color);
  background-color: var(--light-purple-color);
}

.accordion__item:active {
  border-color: var(--dark-purple-color);
  color: var(--dark-purple-color);
}

.accordion__item:active .accordion__heading {
  background-color: transparent;
}

.accordion__item:active .ui-accordion-header-icon {
  border-color: var(--purple-color);
  background-color: var(--light-purple-color);
}

.ui-accordion-header-icon {
  position: absolute;
  top: 32px;;
  right: 1px;
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid var(--light-color);
  border-radius: 50%;
  background-color: var(--light-color);
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, transform .3s ease-in-out;
}

.ui-accordion-header-icon::after {
  position: absolute;
  top: 15px;;
  right: 17px;
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-left: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  transform: rotate(315deg);
  transition: border-color .3s ease-in-out;
}

.ui-icon-triangle-1-s {
  transition: transform .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.ui-state-active {
  border-color: var(--dark-purple-color);
}

.ui-state-active .ui-icon-triangle-1-s {
  border-color: var(--purple-color);
  background-color: var(--light-purple-color);
  transform: rotate(180deg);
}

.accordion__descr {
  padding: 26px 50px 24px 2px;
  border-top: 1px solid var(--purple-color);
  border-bottom: 1px solid var(--purple-color);
  column-count: 3;
  background-color: var(--white-color);
}

.accordion__artist-name {
  position: relative;
  border: none;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  line-height: 31px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .2s ease-in-out, border-bottom-color .2s ease-in-out, color .2s ease-in-out;
}

.accordion__artist-name:focus {
  color: var(--white-color);
  background-color: var(--dark-purple-color);
}

.accordion__artist-name:hover {
  color: var(--medium-purple-color);
  border-bottom-color: var(--purple-color);
  background-color: transparent;
}

.accordion__artist-name:active {
  color: var(--dark-purple-color);
  border-bottom-color: transparent;
  background-color: transparent;
}

.accordion__artist-name-active {
  color: var(--purple-color);
  background-color: transparent;
}

.accordion__descr--plug {
  padding: 25px 0;
  margin-right: 24px;
}

.plug__wrap {
  display: flex;
  padding: 25px 0;
}

.plug__square {
  margin-right: 24px;
  width: 273px;
  height: 189px;
  background: var(--unknown-color);
  box-shadow: 0px 0px 0px 11px white inset;
  border: 2px solid  var(--unknown-color);
}

.plug__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plug__heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.plug__descr {
  margin-bottom: 5px;
  width: 55%;
  line-height: 22px;
}

.plug__link {
  padding-bottom: 2px;
  width: max-content;
  border-bottom: 1px solid transparent;
  font-weight: 600;
  color: var(--purple-color);
  transition: background-color .2s ease-in-out, border-bottom-color .2s ease-in-out, color .2s ease-in-out;
}

.plug__link:focus {
  background-color: var(--purple-color);
  color: var(--white-color);
}

.plug__link:hover {
  color: var(--purple-color);
  border-bottom-color: var(--purple-color);
  background-color: transparent;
}

.plug__link:active {
  color: var(--dark-purple-color);
  border-bottom-color: var(--dark-purple-color);
  background-color: transparent;
}

/* events */

.events {
  padding-top: 39px;
  padding-bottom: 30px;
}

.events__container {
  padding: 0 49px 0 48px;
}

.events__swiper {
  padding: 24px 0 0 3px;
  margin-bottom: 50px;
  max-width: 1604px;
}

.events-list__item {
  display: block;
  border: 1px solid #cacaca;
  width: 500px;
  height: 700px;
  box-sizing: border-box;
}

.events-list__item:nth-child(n+4) {
  display: none;
}

.events-active.events-list__item:nth-child(n+4) {
  display: block;
}

.events-list__picture {
  width: 500px;
  height: 300px;
}

.events-list__place {
  padding-top: 14px;
  margin-bottom: 4px;
}

.events-list__place, .events-list__dates {
  text-align: right;
  padding-right: 18px;
  font-size: 12px;
  color: #999;
}

.events-list__descr {
  padding: 6px 40px 40px 50px;
}

.events-list__title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.events-list__text {
  line-height: 32px;
}

.events-list__link {
  position: absolute;
  bottom: 42px;
  left: 50px;
  border-bottom: 1px solid var(--purple-color);
  line-height: 28px;
  color: var(--purple-color);
}

.events__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 34px;
  border: 2px solid var(--purple-color);
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  color: var(--purple-color);
  background-color: transparent;
  transition: color .2s ease, background-color .2s ease, border-color .2s ease;
}

.events__btn-none {
  display: none;
}

.events__btn:focus,
.events__btn:hover {
  background-color: var(--purple-color);
  color: var(--white-color);
}

.events__btn:active {
  border-color: var(--dark-purple-color);
}

/* modal */

.modal__gallery {
  position: fixed;
  left: 26.3%;
  bottom: 24%;
  display: none;
  width: 900px;
  height: 500px;
  z-index: 9999;
  background-color: var(--white-color);
}

.modal__item {
  display: flex;
}

.modal__text {
  padding: 126px 50px 121px 47px;
  width: 403px;
  height: 253px;
}

.modal__text-artist {
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 600;
}

.modal__text-picture {
  margin-bottom: 5px;
  font-weight: 600;
}

.modal__text-years {
  margin-bottom: 35px;
  font-size: 12px;
  color: var(--grey-color);
}

.modal__text-desc {
  line-height: 32px;
}

.modal__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
}

.modal__btn::before, .modal__btn::after {
  position: absolute;
  top: 0px;
  left: 8px;
  content: ' ';
  height: 21px;
  width: 1px;
  background-color: var(--black-color);
  transition: background-color .2s ease-in-out;
}

.modal__btn::before {
  transform: rotate(45deg);
}
.modal__btn::after {
  transform: rotate(-45deg);
}

.modal__btn:focus::before, .modal__btn:focus::after,
.modal__btn:hover::before, .modal__btn:hover::after {
  background-color: var(--purple-color);
}

.modal__btn:active::before, .modal__btn:active::after {
  background-color: var(--dark-purple-color);
}

#gallery__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  z-index: 9998;
}
