@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --swiper-navigation-size: 30px;
  --text-color: #333;
  --black-color: #000;
  --grey-color: #969696;
  --light-color: #ececec;
  --white-color: #fff;
  --purple-color: #9d5cd0;
  --light-purple-color: #d1a9f0;
  --dark-purple-color: #7943a4;
  --medium-purple-color: #c283f3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  outline: none;
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1;
  background-color: var(--white-color);
}

button, input, optgroup, select, textarea {
  font-family: "OpenSans", sans-serif;
  line-height: 1;
}

p, h1, h2, h3 {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, button {
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 150px 0 150px;
  max-width: 1900px;
  box-sizing: border-box;

}

.title {
  font-size: 48px;
  font-weight: 400;
}

.heading {
  font-size: 24px;
  font-weight: 600;
}

/* header */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.top-menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 148px 30px 150px;
  background-color: var(--black-color);
}

.logo {
  width: 173px;
  height: 40px;
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
}

.logo:focus {
  outline: 2px solid var(--dark-purple-color);
  outline-offset: 3px;
}

.header__nav {
  display: flex;
  padding-bottom: 2px;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-size: 18px;
  font-weight: 600;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  color: var(--white-color);
  transition: all .2s ease-in-out;
}

.nav__link:hover {
  color: var(--medium-purple-color);
}

.nav__link:focus {
  outline: 2px solid var(--dark-purple-color);
  outline-offset: 3px;
}

.nav__link:active {
  outline: none;
  color: var(--dark-purple-color);
}

.header__private {
  position: relative;
  margin-left: 280px;
}

.private__enter {
  padding-left: 20px;
  font-size: 18px;
  color: var(--white-color);
  background-image: url(../img/header_img/Vector.svg);
  background-repeat: no-repeat;
  background-position: left;
  transition: all .2s ease-in-out;
}

.private__enter:focus {
  outline: 2px solid var(--dark-purple-color);
  outline-offset: 3px;
}

.private__enter:hover {
  color: var(--medium-purple-color);
  background-image: url(../img/header_img/VectorH.svg);
}

.private__enter:active {
  color: var(--purple-color);
  outline: none;
  background-image: url(../img/header_img/VectorA.svg);
}

.sub-menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 149px 21px 149px;
  background: rgba(0, 0, 0, 0.4);
}

.sub-menu__list {
  display: flex;
}

.list__item:not(:last-child) {
  margin-right: 95px;
}

.list-item__btn {
  position: relative;
  display: flex;
  border: none;
  padding: 0px 10px 0px 0px;
  font-size: 18px;
  color: var(--white-color);
  background-color: transparent;
  cursor: pointer;
  transition: all ease-out .2s;
}

.list-item__btn:focus {
  outline: 2px solid var(--dark-purple-color);
  outline-offset: 3px;
}

.list-item__btn:hover {
  border-color: var(--medium-purple-color);
  color: var(--medium-purple-color);
}

.list-item__btn:active {
  outline: none;
  color: var(--dark-purple-color);
}

.list-item__btn::after {
  position: relative;
  top: 5px;;
  left: 6px;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  transform: rotate(315deg);
  transition: all ease-out .2s;
}

.list-item__btn:hover::after{
  border-color: var(--medium-purple-color);
}

.list-item__btn:active::after{
  top: 10px;;
  border-color: var(--dark-purple-color);
  transform: rotate(135deg);
}

.list-dropdown {
  position: absolute;
  top: 170px;
  display: none;
  padding: 0px 40px 0px 40px;
  width: 300px;
  max-height: 300px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-out;
}

.list-dropdown--active {
  display: block;
}

.list-dropdown__item {
  position: relative;
  width: 220px;
  height: 40px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
}

.list-dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.list-dropdown__link {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 12px;
  border: 2px solid transparent;
  width: 220px;
  height: 40px;
  color: var(--white-color);
  transition: all .2s ease-in-out;
}

.list-dropdown__link:hover {
  border: 2px solid var(--purple-color);
}

.list-dropdown__link:focus {
  border: 2px solid var(--purple-color);
}

.list-dropdown__link:active {
  border: 2px solid var(--light-purple-color);
  background-color: rgba(194, 131, 243, 0.4)
}

.simplebar-wrapper {
  max-height: 220px;
}

.simplebar-scrollbar {
  width: 2px;
  cursor: pointer;
  background-color: var(--white-color);
}

.simplebar-scrollbar:hover {
  background-color: var(--purple-color);
}

.simplebar-track.simplebar-vertical {
  margin-right: 19px;
  width: 2px;
  background-color: black;
}

.search {
  display: flex;
  padding-top: 5px;
}

.search__btn {
  margin-right: 10px;
  border: none;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: transparent;
  background-image: url(../img/header_img/Search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all .2s ease-in-out;
}

.search__btn:focus {
  outline: 2px solid var(--dark-purple-color);
  outline-offset: 4px;
}

.search:hover .search__btn {
  background-image: url(../img/header_img/SearchA.svg);
}

.search__input {
  border: none;
  border-bottom: 1px solid var(--white-color);
  width: 219px;
  color: var(--medium-purple-color);
  background: transparent;
  transition: all .2s ease-in-out;
}

.search__input:focus {
  outline: 2px solid var(--dark-purple-color);
  outline-offset: 4px;
}

.search__input:active {
  outline: none
}

.search:hover .search__input {
  border-bottom: 1px solid var(--medium-purple-color);
}

.search__input::placeholder {
  font-size: 18px;
  color: var(--white-color);
}

/* hero */

.hero {
  padding-bottom: 40px;
  margin-top: -170px;
  z-index: 1;
}

.hero__container {
  height: 800px;
  padding: 0;
}

.animation {
  position: relative;
  top: -800px;
  overflow: hidden;
  margin: auto;
  max-width: 1900px;
  height: 800px;
}

.animation__item {
  position: absolute;
  left: 0;
}

.animation__item--1 {
  animation: item-1 300s ease-in-out infinite alternate;
}

.animation__item--2 {
  animation: item-2 300s ease-in-out infinite alternate;
}

.animation__item--3 {
  animation: item-3 300s ease-in-out infinite alternate;
}

.animation__img {
  width: 1900px;
  height: 798px;
  object-fit: cover;
  animation: zoom 60s normal infinite forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1.25);
  }
}

@keyframes item-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  25.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes item-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  25.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes item-3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  75.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.hero__content {
  position: relative;
  padding: 241px 0 0 144px;
  margin: auto;
  max-width: 1900px;
  height: 800px;
  z-index: 2;
}

.hero__title {
  margin-bottom: 19px;
  width: 100%;
  max-width: 600px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: var(--white-color);
}

.hero__descr {
  padding-left: 5px;
  margin-bottom: 92px;
  width: 100%;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.hero__btn {
  padding: 20px 32px 20px 32px;
  margin-left: 5px;
  border-radius: 100px;
  border: 3px solid var(--purple-color);
  width: 314px;
  height: 70px;
  color: var(--white-color);
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
  background-color: var(--purple-color);
  transition: all .2s ease-in-out;
}

.hero__btn:hover {
  border: 3px solid var(--light-purple-color);
}

.hero__btn:active {
  border: 3px solid var(--light-purple-color);
  background-color: var(--dark-purple-color);
}

.hero__btn:focus {
  border: 3px solid var(--white-color);
  box-shadow: 0 0 0 2px var(--medium-purple-color);
}

/* about */

.about {
  padding-top: 49px;
  padding-bottom: 40px;
}

.about__container {
  padding: 0px 156px 0px 147px
}

.about__title {
  margin-bottom: 24px;
}

.about__descr {
  padding-left: 2px;
  width: 67.5%;
  line-height: 32px;
}

/* gallery */

.gallery {
  padding-top: 30px;
  padding-bottom: 30px;
}

.gallery__container {
  display: flex;
  padding: 89px 153px 70px 147px;
  height: 995px;
  background-image: url("../img/gallery_img/gallery__container.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.gallery__left {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.gallery__title {
  margin-bottom: 32px;
  color: var(--white-color);
}

.gallery__filter-descr {
  margin-bottom: 18px;
  font-weight: 600;
  color: var(--white-color);
}

.gallery__filter {
  display: flex;
  flex-direction: column;
  padding-left: 3px;
}

.choices {
  height: 40px;
  width: 400px;
  border: 1px solid var(--white-color);
  border-radius: 6px;
  box-sizing: border-box;
}

.choices__inner {
  height: 40px;
  width: 400px;
  padding: 11px 12px 0 14px;
  background: transparent;
  color: var(--white-color);
}

.choices__list--dropdown {
  display: none;
  margin-left: -1px;
  border: 1px solid #999999;
  border-top: 1px solid transparent;
  border-radius: 6px;
  width: 400px;
  z-index: 100;
}

.choices__list--dropdown .choices__item {
  padding: 12px 0px 13px 20px;
  border-bottom: 1px solid #999999;
  color: #999999;
}

.choices__item {
  box-sizing: border-box;
}

.choices__list--dropdown .choices__item:last-child {
  border-bottom: none
}

.choices__list--dropdown .choices__item[data-value=Автор] {
  display: none;
}

.choices__list--single::after {
  position: relative;
  bottom: 10px;;
  left: 360px;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  transform: rotate(315deg);
}

.is-active {
  display: block;
}

.gallery__descr {
  position: relative;
  padding-left: 2px;
  margin-top: auto;
  color: var(--white-color);
  line-height: 32px;
  font-weight: 600;
}

.gallery__private-link {
  color: var(--medium-purple-color);
  line-height: 32px;
  font-weight: 600;
}

.gallery__right {
  position: relative;
  padding-top: 16px;
  height: 846px;
}

.gallery__swiper {
  max-width: 1150px;
}

.swip__wrapper {
  padding-top: 41px;
  height: 750px;
}

.swip__slide {
  display: block;
  height: 350px;
  width: 350px;
  cursor: pointer;
}

.swip__slide::after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  height: 350px;
  width: 350px;
  content: "";
  background-image: url(../img/gallery_img/swip__slide.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 300px;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.swip__slide:hover::after {
  opacity: 1;
}

.swip__slide:active::after {
  background-color: rgba(194, 131, 243, 0.4);
}

.swip__pagination {
  position: relative;
  bottom: -8px;
  margin-left: 38px;
  width: 60px;
  height: 20px;
  color: var(--white-color);
  background-color: transparent;
}

.swip__btn-prev, .swip__btn-next {
  position: absolute;
  display: flex;
  left: 3px;
  top: 0;
  margin-top: 0;
  width: 30px;
  height: 30px;
  border: 2px solid var(--light-color);
  border-radius: 50%;
  background-color: var(--light-color);
  transition: all .2s ease-in-out;
}

.swip__btn-next {
  left: 103px;
}

.swip__btn-prev:focus, .swip__btn-next:focus {
  border: 2px solid var(--dark-purple-color);
}

.swip__btn-prev:hover, .swip__btn-next:hover {
  border: 2px solid var(--purple-color);
  background-color: var(--purple-color);
}

.swip__btn-prev:active, .swip__btn-next:active {
  border: 2px solid var(--dark-purple-color);
  background-color: var(--dark-purple-color);
}

.swip__btn-prev::after, .swip__btn-next::after {
  position: absolute;
  top: 10px;;
  left: 11px;
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-left: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  transform: rotate(45deg);
  transition: all .2s ease-in-out;
}

.swip__btn-next::after {
  left: 9px;
  transform: rotate(225deg);
}

.swip__btn-prev:hover::after, .swip__btn-next:hover::after {
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.swip__btn-prev:active::after, .swip__btn-next:active::after {
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.swiper-button-next, .swiper-button-prev {
  color: transparent;
}

.modal {
  position: fixed;
  left: 26.3%;
  bottom: 24%;
  display: none;
  width: 900px;
  height: 500px;
  z-index: 9999;
  background-color: var(--white-color);
}

.modal__item {
  display: flex;
}

.modal__text {
  padding: 126px 50px 121px 47px;
  width: 403px;
  height: 253px;
}

.modal__text-artist {
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 600;
}

.modal__text-picture {
  margin-bottom: 5px;
  font-weight: 600;
}

.modal__text-years {
  margin-bottom: 35px;
  font-size: 12px;
  color: var(--grey-color);
}

.modal__text-desc {
  line-height: 32px;
}

.modal__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
}

.modal__btn::before, .modal__btn::after {
  position: absolute;
  top: 0px;
  left: 8px;
  content: ' ';
  height: 21px;
  width: 1px;
  background-color: var(--black-color);
  transition: all .2s ease-in-out;
}

.modal__btn::before {
  transform: rotate(45deg);
}
.modal__btn::after {
  transform: rotate(-45deg);
}

.modal__btn:hover::before, .modal__btn:hover::after {
  background-color: var(--medium-purple-color);
}

.modal__btn:active::before, .modal__btn:active::after {
  background-color: var(--dark-purple-color);
}

#gallery__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  z-index: 9998;
}

/* catalog */

.catalog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  padding: 0px 150px 0px 147px;
}

.catalog__head {
  display: flex;
  margin-bottom: 11px;
}

.catalog__title {
  padding-top: 9px;
  margin-right: 31px;
}

.tabs-country {
  display: flex;
  justify-content: space-between;
  width: 28.3%;
}

.tabs-country__btn {
  padding: 8px;
  width: 70px;
  height: 70px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.tabs-country__btn svg {
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.tabs-country__btn:hover {
  filter: drop-shadow(0 0 5px #9D5CD0);
}

.tabs-country__btn:active {
  filter: none;
}

.tabs-country__btn:active svg {
  border: 2px solid var(--dark-purple-color);
}

.tabs-country__btn-active {
  border: 2px solid var(--dark-purple-color);
  filter: none;
}

.catalog__descr {
  padding-left: 2px;
  margin-bottom: 39px;
  width: 67.2%;
  line-height: 32px;
}

.tabs__item {
  display: none;
  justify-content: space-between;
}

.tabs__item-active {
  display: flex;
}

.tabs__left {
  padding-left: 2px;
  width: 47%;
}

.artist__item {
  display: none;
}

.artist__item-active {
  display: flex;
  flex-direction: column;
}

.artist__picture {
  margin-bottom: 33px;
  width: 100%;
  height: 100%;
}

.artist__name {
  padding-left: 1px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}

.artist__years {
  padding-left: 1px;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--grey-color);
}

.artist__biography {
  padding-left: 1px;
  line-height: 32px;
}

.tabs__right {
  width: 50%;
  background-color: var(--white-color);
}

.accordion__btn {
  width: 100%;
}

.accordion__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0 4px 1px;
  border-top: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  border-radius: 0px;
  border-left: none;
  border-right: none;
  height: 115px;
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  background-color: white;
  transition: all .3s ease-in-out;
}

.accordion__item:focus {
  outline: 2px solid var(--dark-purple-color);
  outline-offset: 6px;
  z-index: 100;
}

.accordion__item:hover {
  border-color: var(--purple-color);
  color: var(--purple-color);
  z-index: 99;
}

.accordion__item:hover .ui-accordion-header-icon::after {
  border-color: var(--white-color);
}

.accordion__item:hover .ui-accordion-header-icon {
  border-color: var(--purple-color);
  background-color: var(--purple-color);
}

.accordion__item:active {
  border-color: var(--dark-purple-color);
  color: var(--dark-purple-color);
  z-index: 100;
}

.accordion__item:active .ui-accordion-header-icon {
  border-color: var(--purple-color);
  background-color: var(--dark-purple-color);
}


.accordion__item:active .ui-accordion-header-icon::after {
  border-color: var(--white-color);
}

.accordion__item:not(:first-child) {
  margin-top: -1px;
}

.ui-accordion-header-icon {
  position: absolute;
  top: 30px;;
  right: 1px;
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid var(--light-color);
  border-radius: 50%;
  background-color: var(--light-color);
  transition: all .3s ease-in-out;
}

.ui-accordion-header-icon::after {
  position: absolute;
  top: 15px;;
  right: 17px;
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-left: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  transform: rotate(315deg);
  transition: all .3s ease-in-out;
}

.ui-accordion-header-active .ui-accordion-header-icon {
  transform: rotate(180deg);
}

.accordion__descr {
  padding: 24px 42px 1px 1px;
  border-top: 1px solid var(--purple-color);
  border-bottom: 2px solid var(--purple-color);
  height: auto;
  column-count: 3;
  background-color: var(--white-color);
}

.accordion__artist-name {
  padding: 0 4px;
  margin-left: -4px;
  border: none;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  line-height: 31px;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.accordion__artist-name:hover {
  color: var(--medium-purple-color);
  border-bottom: 1px solid var(--medium-purple-color);
}

.accordion__artist-name:active {
  color: var(--dark-purple-color);
  border-bottom: 1px solid transparent;
}

.accordion__artist-name:focus {
  outline: 2px solid var(--dark-purple-color);
  outline-offset: -2px;
}

.accordion__artist-name-active {
  color: var(--purple-color);
  font-weight: 600;
}

/* events */

.events {
  padding-top: 39px;
  padding-bottom: 30px;
}

.events__container {
  padding: 0 149px 0 148px;
}

.events__swiper {
  padding: 24px 0 0 3px;
  max-width: 1604px;
}

.events-list {
  height: 725px;
}

.events-list__item {
  display: block;
  border: 1px solid #cacaca;
  width: 500px;
  height: 700px;
  box-sizing: border-box;
}

.events-list__picture {
  width: 500px;
  height: 300px;
}

.events-list__place {
  padding-top: 14px;
  margin-bottom: 4px;
}

.events-list__place, .events-list__dates {
  text-align: right;
  padding-right: 18px;
  font-size: 12px;
  color: #999;
}

.events-list__descr {
  padding: 6px 40px 40px 50px;
}

.events-list__title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.events-list__text {
  line-height: 32px;
}

.events-list__link {
  position: absolute;
  bottom: 42px;
  left: 50px;
  border-bottom: 1px solid var(--purple-color);
  line-height: 28px;
  color: var(--purple-color);
}




@media (max-width: 1800px) {
  .nav__item:not(:last-child) {
    margin-right: 10px;
  }
  .header__private {
    margin-left: 15px;
  }
  .list__item:not(:last-child) {
    margin-right: 15px;
  }
  .gallery__container {
    padding: 89px 50px 80px 47px;
  }
  .gallery__swiper {
    max-width: 850px;
  }
  .accordion__descr {
    column-count: 2;
  }
}
